:root {

    --nav-bg: #2d2d2d;

    --pcolor:#2d2d2d;
    --white-p-color:white;
    --white-header-Color:white;
    --black-header:#2d2d2d;
    --background-color:#ece9e8;
    --general-background:#fff;
    --oranje-BF:#FE7000;
    --paarse-Knop-bg:#6131ad;
    --knop-color:white;
    --cian-header:#7adec9;

    --after-block-color: black;
    --header-knop1:transparent;
    --header-knop2:white;
}

@media (prefers-color-scheme: dark){
    :root{
        --nav-bg: #ece9e8;

        --pcolor:#ece9e8;
        --white-p-color:black;
        --white-header-Color:black;
        --black-header:#ece9e8;
        --background-color:#2d2d2d;
        --general-background:#000;
        --oranje-BF:#FE7000;
        --paarse-Knop-bg:#6131ad;
        --knop-color:#2d2d2d;
        --cian-header:#7adec9;
    
        --after-block-color: black;
        --header-knop1:#FE7000;
        --header-knop2:#FE7000;
    }


}

  @font-face {
    font-family: navFont;
    src: url(Font/HeadingProTreble-ExtraBold.woff2);
  }  

  @font-face {
    font-family: knopFont;
    src: url(Font/HeadingProDouble-Regular.woff2);
  }

  @font-face {
    font-family: h1Font;
    src: url(Font/HeadingProTreble-Heavy.woff2);
  }
  
  @font-face {
    font-family: pFont;
    src: url(Font/heading-pro-double-light-webfont.woff2);
  }



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .7em;
    padding: .6em .8em .6em .8em;
    position:sticky;
    top:0;
    background-color: var(--general-background);
    z-index: 999999;
}

img{
    width: 100%;
}

header nav{
    display: flex;
    flex-grow: 1;
}

main p{
    color: var(--pcolor);
}

nav:first-of-type {
    margin-right: auto;
}

nav a img{
    width: 6.56em;
    height: 2.5em;
}

header nav ul {
    list-style: none;
    /* border-color: green; */
    font-family: navFont,sans-serif;
    position: fixed;
    inset: 0; 
    background-color:#2d2d2d ;

    margin: 0;
    padding: 4em 1em 0;

    line-height: 3em;

    translate:-100%;
    transition: 1s;
    color: var(--pcolor);

}

header nav ul li{
    display: flex;
    justify-content: center;
}

header nav ul li a{
    color: var(--white-p-color);
    text-decoration: none;
    font-family: navFont,sans-serif;
    text-transform: uppercase;
}

header > button:nth-of-type(1){
    background-color: var(--oranje-BF);
    border: none;
    color: var(--white-header-Color);
    font-family: knopFont, sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0.93em;
    font-size: 1em;
}

header > button:nth-of-type(2){
    height: 2.8em;
    width: 2.8em;
    background-color: var(--header-knop1);
    border: none;
}

header > button:nth-of-type(3){
    height: 2.5em;
    width: 2.5em;
    background-color: var(--header-knop2);
    border: none;
    position: relative;
    z-index: 5;
}

nav.toonMenu ul {
  translate:0%;
    
}

/* nav.toonMenu button:nth-of-type(3) img{
    content: url(images/xmenu.png);
} */

body {
    margin:0; 
    background-color: var(--general-background);

}

main{
    background-color: var(--background-color);
}

footer{
    background-color: var(--background-color);
}

footer > section:nth-of-type(1) h4{
    font-family: navFont,sans-serif;
    font-size: 0.8em;
    color: white;
    font-weight: 700;
    text-align: center;
}

footer > section:nth-of-type(1){
    background: linear-gradient(135deg, #ffaa30 0%, #fe7000 80.21%);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    
}

footer > section:nth-of-type(1) ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 24px;
    padding: 0;
}

footer > section:nth-of-type(1) li{
    list-style: none;
}

footer > section:nth-of-type(1) img{
    width: 2.25em;
}

footer > section:nth-of-type(2) h5,footer > section:nth-of-type(3) h5,footer > section:nth-of-type(4) h5{
    font-family: navFont,sans-serif;
    font-size: 1em;
    padding: 0.5em 1em;
    text-transform: capitalize;
    margin-bottom: 1.5em;
    font-weight: bold;
    position: relative;
    color: var(--pcolor);
}

/* later aan zetten */
footer h5::after {
    content:"";
    background-color: var(--oranje-BF);
    position: absolute;
    left: 1em;
    bottom: 0;
    width: 1.2em;
    height: .1em;
}

footer > section:nth-of-type(2) ul,footer > section:nth-of-type(3) ul,footer > section:nth-of-type(4) ul{
    column-count: 2;
    list-style: none;
    font-family: knopFont,sans-serif;
    padding: 0 1em;
    font-size: 0.875em;
    line-height: 2em;
    color: var(--pcolor);
}

footer > section:nth-of-type(5){
    background-color: var(--general-background);
    padding: 2em 1em 0 1em;
    
}
footer > section:nth-of-type(5) ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer > section:nth-of-type(5) :nth-of-type(1){
    width: 4.5em;
    height: 2.25em;
}

footer > section:nth-of-type(5) :nth-of-type(2){
    width: 6.8em;
    height: 1.3em;
}

footer > section:nth-of-type(5) :nth-of-type(3){
    width: 1.5em;
    height: 1.5em;
}

@media (width >= 47.9em){
    
    footer section:nth-of-type(1){
        grid-auto-flow: column;
        padding: 1em 0;
        gap: 3em;
    }
    
    footer section:nth-of-type(1) ul{
        grid-auto-flow: column;
        grid-template-columns: unset;
        max-width: none;
        gap: 40px;
    }
    
}

@media (width >= 64em){

    header{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .15);
    }

    header nav{
        display: flex;
        flex-grow: 1;
        padding: 1em .8em 1em .8em;
    }


    header button:nth-of-type(3){
        display: none;
    }

    header nav ul {
        position:static;
        translate:none;
        background:none;
        padding:0;
        display: flex;
        /* justify-content: space-evenly; */
        padding: 0 2em;
        line-height: 1em;
        gap: 1em;
    }

    /* header nav ul li{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    header nav ul li {
    /* flex-basis:0; */
    flex-grow:0;
    display: flex;
    flex-direction: column;
    }

    header nav ul li a{
        /* display:flex;
        flex-direction:column; */
        border:none;
        color: var(--pcolor);
        font-family: knopFont,sans-serif;
        text-transform: none;
    }

    

    
}