:root {
    --general-color:red;
    --general-background:#fff;
    --background-color:#ece9e8;
    --header-gradient:linear-gradient(#f8a, #fbd);
    
    --menu-gradient:linear-gradient(#8af, #bdf);
    --menu-border:#46f;
    
    --button-color:#fff;
    --button-background:#f46;
    --font-nav-color: white;

    --nav-bg: #2d2d2d;
    
  }

  @font-face {
    font-family: navFont;
    src: url(Font/HeadingProTreble-ExtraBold.woff2);
  }  

  @font-face {
    font-family: knopFont;
    src: url(Font/HeadingProDouble-Regular.woff2);
  }

  @font-face {
    font-family: h1Font;
    src: url(Font/HeadingProTreble-Heavy.woff2);
  }
  
  @font-face {
    font-family: pFont;
    src: url(Font/heading-pro-double-light-webfont.woff2);
  }



header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .7em;
    padding: .6em .8em .6em .8em;
    position:sticky;
    top:0;
    background-color: var(--general-background);
    z-index: 999999;
}

img{
    width: 100%;
}

header nav{
    display: flex;
    flex-grow: 1;
}

nav :first-of-type {
    margin-right: auto;
}

nav a img{
    width: 6.56em;
    height: 2.5em;
}

header nav ul {
    list-style: none;
    border-color: green;
    font-family: navFont;
    position: fixed;
    inset: 0; 
    background-color:var(--nav-bg) ;

    margin: 0;
    padding: 4em 1em 0;

    line-height: 3em;

    translate:-100%;
    transition: 1s;

}

header > button:nth-of-type(1){
    /* height: 2.5em; */
    /* width: 3em; */
    background-color: #FE7000;
    border: none;
    color: white;
    font-family: knopFont, sans-serif;
    text-transform: uppercase;
    padding: 0.5em 0.93em;
    font-size: 1em;
}

header > button:nth-of-type(2){
    height: 2.8em;
    width: 2.8em;
    background-color: transparent;
    border: none;
}

header > button:nth-of-type(3){
    height: 2.5em;
    width: 2.5em;
    background-color: transparent;
    border: none;
}

body {
    margin:0; 
    background-color: white;

}

main{
    background-color: var(--background-color);
}

footer{
    background-color: var(--background-color);
}

footer > section:nth-of-type(1) h4{
    font-family: navFont,sans-serif;
    font-size: 0.8em;
    color: var(--general-background);
    font-weight: 700;
    text-align: center;
}

footer > section:nth-of-type(1){
    background: linear-gradient(135deg, #ffaa30 0%, #fe7000 80.21%);
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    
}

footer > section:nth-of-type(1) ul{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 24px;
    padding: 0;
}

footer > section:nth-of-type(1) li{
    list-style: none;
}

footer > section:nth-of-type(1) img{
    width: 2.25em;
}

footer > section:nth-of-type(2) h5,footer > section:nth-of-type(3) h5,footer > section:nth-of-type(4) h5{
    font-family: navFont,sans-serif;
    font-size: 1em;
    padding: 0.5em 1em;
    text-transform: capitalize;
    margin-bottom: 1.5em;
    font-weight: bold;
    position: relative;
}

/* later aan zetten */
footer h5::after {
    content:"";
    background-color: #fe7000;
    position: absolute;
    left: 1em;
    bottom: 0;
    width: 1.2em;
    height: .1em;
}

footer > section:nth-of-type(2) ul,footer > section:nth-of-type(3) ul,footer > section:nth-of-type(4) ul{
    column-count: 2;
    list-style: none;
    font-family: knopFont,sans-serif;
    padding: 0 1em;
    font-size: 0.875em;
    line-height: 2em
}

footer > section:nth-of-type(5){
    background-color: white;
    padding: 2em 1em 0 1em;
    
}
footer > section:nth-of-type(5) ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer > section:nth-of-type(5) :nth-of-type(1){
    width: 4.5em;
    height: 2.25em;
}

footer > section:nth-of-type(5) :nth-of-type(2){
    width: 6.8em;
    height: 1.3em;
}

footer > section:nth-of-type(5) :nth-of-type(3){
    width: 1.5em;
    height: 1.5em;
}